@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(248, 248, 248);
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.stopwatch__display {
  font-size: 3em;
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  background-color: white;
  color: #333;
  border: 1px dashed lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch__buttons {
  display: inline-block;
}

button {
  font-size: 1.2em;
  margin: 5px;
  padding: 12px 24px;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100px;
}

.primary {
  background-color: black;
  color: white;
}

.secondary {
  background-color: lightgrey;
  color: black;
}

.stopwatch__laps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.stopwatch__lap {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  width: 80px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch__lap span {
  flex: 1;
  text-align: center;
}

.stopwatch__lap button {
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(37, 35, 35);
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
  width: 5px;
  background-color: white;
}

.lap__label {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.8em;
  font-weight: 900;
}
